<!DOCTYPE html>
<html lang="en">
<head>
  {% include headinclude.html %}
</head>
<body>
  <header>
    <div class="contain">
      <nav>
        <ul class="nav social pull-left">
          <li>
            <a href="/">Logo Here</a>
          </li>
        </ul>
        <ul class="nav social navbar">
          <li>
            <a class="h6 nav-link blue" href="/projects">projects</a>
          </li>
          <li>
            <a class="h6 nav-link blue" href="/about">about me</a>
          </li>
          <li>
            <a class="h6 nav-link blue" href="/resume">resume</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>