// ---------------------------------------------------------------------------
// Imports
@import "0-plugins/plugins_dir";
@import "1-styles/styles_dir";
@import "2-modules/modules_dir";
@import "3-layouts/layouts_dir";

/* -------------------------------------------------------------------------*/
/* Layout */
.wrapper {
  @include outer-container;
}

.icon {
  font-weight: normal;
  vertical-align: middle;
}
.icon:before {
  content: attr(data-icon);
  font-family: "entypo";
  font-size: 2em;
  speak: none;
}

.social .icon {
  font-size: 2em;
  padding: 0.8em;
}
.social .icon.twitter:before, .social .icon.github:before {
  font-family: "entypo-social";
  content: attr(data-icon);
}
.social .icon.rss:before {
  font-family: "entypo";
  content: attr(data-icon);
}

.presentation .icon {
  font-size: 1.5em;
}

.presentation .icon-label {
  vertical-align: text-top;
}
